@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(#a2000a, #cf0000);
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  background: url(images/tree.png);
  z-index: 1;
}

.container .circle {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  height: 350px;
  background: #fff;
  border-radius: 50%;
}

.container .circle::before {
  content: '';
  position: absolute;
  inset: -200px;
  background: url(images/santa.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 600px;
}
